<template lang="pug">
  b-container
    logo.my-4
    h1.font-weight-bold Good luck ❤
    b-card.mt-4
      b-button(href="https://nuxtjs.org/") Documentation
</template>

<script>
export default {}
</script>

<style lang="scss">
.container {
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}
</style>
